{% extends 'blog/base.html'%}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="from_group">
                <legend class="border-bottom mb-3">delete Post</legend>
                <h1>Are You Sure You Want To Delete This Post-{{ object.title }}</h1>
            </fieldset>
            <div class="from-group">
                <button class="btn btn-outline-danger" type="submit">Yes, delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'blog-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>



{% endblock %}